@font-face {
	font-family: "marufont";
	src: url("851tegaki_zatsu_normal_0883.ttf") format("truetype");
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFEFCC;
}

.title {
	margin-bottom: 20px;
	color: #4D4D4D;
	font-family: "marufont", sans-serif;
}

.images {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 20px;
}

.left, .right {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

.img1 {
	width: 100%; /* 親要素の幅に対して100% */
	max-width: 300px; /* プログラマーの画像: 最大幅200px */
	height: auto; /* アスペクト比を保持 */
	padding: 20px;
}

.img2 {
	width: 100%;
	max-width: 340px; /* 配信者の画像: 最大幅180px */
	height: auto;
	padding: 20px;
}

.img3 {
	width: 100%;
	max-width: 250px; /* 美容師の画像: 最大幅150px */
	height: auto;
	padding: 20px;
}

.img4 {
	width: 100%;
	max-width: 90px; /* 農家の画像: 最大幅170px */
	height: auto;
	padding: 20px;
}

.img5 {
	width: 100%;
	max-width: 90px; /* 弁護士の画像: 最大幅190px */
	height: auto;
	padding: 20px;
}

.img6 {
	width: 100%;
	max-width: 130px; /* 大工の画像: 最大幅160px */
	height: auto;
	padding: 20px;
}

.img7 {
	width: 100%;
	max-width: 90px; /* 警察の画像: 最大幅200px */
	height: auto;
	padding: 20px;
}

.img8 {
	width: 100%;
	max-width: 270px; /* レジの画像: 最大幅150px */
	height: auto;
	padding: 20px;
}

.button10 {
	margin-top: 20px;
	width: 150px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	background-color: #eb7034;
	color: #4d4d4d;
	font-family: "marufont", sans-serif;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.button10:hover {
	animation: ripple 1.5s infinite;
}

@keyframes ripple {
	0% { box-shadow: 0 0 0 0 #eb7034; }
	70% { box-shadow: 0 0 0 10px rgba(27, 133, 251, 0); }
	100% { box-shadow: 0 0 0 30px rgba(27, 133, 251, 0); }
}
