
	@font-face {
		font-family: "marufont";
		src: url("851tegaki_zatsu_normal_0883.ttf") format("truetype");
	}
	.title{color:#4D4D4D;position:relative; top:75px; left:570px;font-family: "marufont",sans-serif;}
	.button10 {
		display: inline-block;
		width: 250px;
		line-height: 60px;
		text-align: center;
		text-decoration: none;
		color: #4d4d4d;
		background-color: #EB7034;
		box-shadow: 0px 5px 0px #eb7034;
		transition: .3s;
		font-family: "marufont",sans-serif;
		font-weight: bold;
	}
	.button10:hover {
	   box-shadow: unset;
       color: #4D4D4D;
       opacity: 0.6;
	   transform: translateY(6px);
	}
	.button10{position:relative;
	top:300px;
	left:-400px;
	width: 150px;height: 70px; }
	.img1{ position:relative; top:5px; left:100px;width: 150;height: 150px; }  /*プログラマー*/
	.img2{ position:relative; top:5px; left:150px; width: 150;height: 150px; } /*配信者*/
	.img3{position:relative; top:250px; left:-340px;width: 150;height: 150px; } /*美容師*/
	.img4{position:relative; top:250px; left:-170px;width: 150;height: 150px; } /*農家*/
	.img5{position:relative; top:5px; left:300px;width: 150;height: 150px; } /*弁護士*/
	.img6{position:relative; top:5px; left:450px;width: 150;height: 150px; } /*大工*/
	.img7{position:relative; top:250px; left:180px;width: 150;height: 150px; } /*警察*/
	.img8{position:relative; top:250px; left:250px;width: 150;height: 150px; } /*レジ*/
	
	body{background-color : #FFEFCC;}
